<div class="container">
    <div class="row">
        <div class="card col-4" style="width: 18rem; margin-bottom: 2rem;">
            <img [src]="product.thumbnail" class="card-img-top" alt="..." style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.price }}</p>
                <app-star-rating [rate]="product.rating"></app-star-rating>


                <p [ngClass]="product.stock === 0 ? 'text-danger' : 'text-success'">
                    {{ product.stock === 0 ? 'Out of stock' : 'In stock: ' + product.stock }}
                </p>

                <a class="btn bg-danger text-center" (click)="handelnavigatetodetails(product.id)">view details</a>            </div>
                <button type="button" class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>

               
        </div>
    </div>
</div>
