@if (cartItems.length === 0) {
    <h2 class=" text-center">empyy cart</h2>
    } 
    @else {
        <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Discount Percentage</th>
                
                  <th>image</th>
                  <th>actions</th>
                </tr>
              </thead>
              <tbody>
                @for(item of cartItems ;track item.id){
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.discountPercentage }}</td>
                      
                        <td><img [src]="item.thumbnail" alt="Thumbnail" style="height: 50px;"></td>
                        <td><button class="btn btn-danger" (click)="deleteFromCart(item)">Delete</button></td>
                        <td>
                            <button class="btn btn-secondary" (click)="decrementQuantity(item)">-</button>
                            {{ item.quantity }}
                            <button class="btn btn-secondary" (click)="incrementQuantity(item)">+</button>
                          </td>
                          
                    </tr>

                }
                <h2>Total: {{ total }}</h2>

              </tbody>
            </table>
          </div>    }

  