<div class="container">
  <div class="row">
      <div class="product-details">
          <h1 class="product-title">{{ productDetails.title }}</h1>
          <img src="{{ productDetails.thumbnail }}" alt="Product Image" class="product-image">
          <p class="product-description">{{ productDetails.description }}</p>
          <p class="product-price">Price: {{ productDetails.price }}</p>
          <p class="product-category">Category: {{ productDetails.category }}</p>
          <p class="product-rating">Rating: {{ productDetails.rate }}</p>
      </div>
  </div>
</div>